.page {
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
}

.body {
  width: 80vw;
  margin: auto;
  display: flex;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
  }
}

