<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-12">
      <span class="pull-right">You've logged in as <strong>{{username}}</strong></span>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-9">
          <div class="chat-messages chat-messages-table" [appAutoScrollDown]>
            <table class="table">
              <tbody>
              <tr *ngFor="let message of messages">
                <td class="chat-messages-item" [ngSwitch]="message.sender !== username">
                  <div *ngSwitchCase="true">
                    <div class="chat-messages-item__sender">{{message.sender}}</div>
                    <div class="chat-messages-item__body">{{message.body}}</div>
                    <div class="chat-messages-item__date">{{message.date | date:'short'}}</div>
                  </div>
                  <div *ngSwitchCase="false" class="chat-messages-item-wrapper">
                    <div class="chat-messages-item__sender">You</div>
                    <div class="chat-messages-item__body">{{message.body}}</div>
                    <div class="chat-messages-item__date">{{message.date | date:'short'}}</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="well well-sm col-sm-3">
          <h3>Users</h3>
          <div class="users">
            <p class="text-success">
              {{username}}
            </p>
            <p *ngFor="let user of users">
              {{ user }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="userMessage"
                   (keydown.enter)="sendMessage()"/>
            <span class="input-group-btn">
              <button class="btn btn-default" (click)="sendMessage()">
                Send
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
