.users {
  height: 85vh;
  overflow-y: auto;
}

.chat-messages {
  height: 85vh;
  overflow-y: auto;
}

.chat-messages-table td {
  border-top: none;
}

.chat-messages-item {
  word-wrap: break-word;
}

.chat-messages-item-wrapper {
  padding: 10px;
  border: 1px solid #E1E2E4;
  border-radius: 10px;
}

.chat-messages-item__sender {
  color: #B8BCBF;
}

.chat-messages-item__body {
  font-size: 1.1rem;
}

.chat-messages-item__date {
  color: #B8BCBF;
}

.user-input-row {
  margin-top: 10px;
}
